@import '../../assets/scss/variables'; 
@import '../../assets/scss/typography';

.button {
  @include typo-btn;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  border: 2px solid var(--border); // Используем --border для границы
  border-radius: 8px;
  transition: all 0.5s;
  
  .button-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text); // Используем --text для цвета текста
  }

  &.primary {
    background-color: var(--button-bg); // Используем --button-bg для фона
    border-color: var(--button-bg); // Используем тот же цвет для границы
    color: var(--button-text); // Используем --button-text для цвета текста

    .button-text {
      color: var(--button-text); // Текст будет белым, если --button-text белый
    }
  }

  &:hover {
    background-color: var(--primary); // Используем --button-hover для фона при наведении
    border-color: var(--primary); // Изменяем цвет границы при наведении

    .button-text {
      color: var(--button-text);
    }
  }

  &:disabled {
    border-color: var(--border); // Используем --border для disabled состояния
    background-color: var(--border); // Используем тот же цвет для фона
    cursor: default;
  }
}
