$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1440px;

// colors
// Light Mode Colors
$light-primary: #6C5DD3;
$light-accent: #FF7B54;
$light-background: #F8F9FC;
$light-text: #2B2D42;
$light-border: #D6D6F5;
$light-gray: #e4e3e3;

// Dark Mode Colors
$dark-primary: #6C5DD3;
$dark-accent: #FF7B54;
$dark-background: #1E1E2E;
$dark-text: #D6D6F5;
$dark-border: #444B6E;
$dark-gray: #BDBDBD;

// Additional Colors
$success: #4CAF50;
$error: #B00020;
$warning: #FFA500;

// UI Components
$button-bg: $light-primary;
$button-text: white;
$button-hover: darken($light-primary, 10%);

$card-bg: white;
$card-border: $light-border;

$input-bg: #F0F2F5;
$input-border: #B0B3B8;
$input-text: $light-text;

// ---
 
$light_error: #B00020;
 
$dark_error: #CF6679;