@import '../../assets/scss/variables';
@import '../../assets/scss/typography';

.input-container {
  .input-label {
    @include typo-input;
    margin-left: 8px;
    color: var(--text); // Updated to use text color
  }

  .input {
    @include typo-input;

    width: 100%;
    padding: 10px;
    max-height: 38px;
    border-radius: 8px;
    border: 1px solid var(--border);
    background: var(--white);
    color: var(--text);
    transition: all 0.3s ease;

    &:focus {
      border-color: var(--primary);
      background: var(--input-bg);
      box-shadow:  0 0 0 1px var(--primary);
    }

    &:disabled {
      background: var(--input-bg);
      border-color: var(--border);
      color: var(--text);
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  .input-error {
    @include typo-input-error;

    margin-left: 8px;
    color: var(--error);
  }
}
